In [5]:
import numpy as np
import pandas as pd

datapath = 'data/iris.data'

# row data frame 객체를 만듬
# sep로 데이터의 구분자를 ,로 지정
# names로 열의 이름을 지정
raw_data = pd.read_csv(datapath, sep=',', 
                       names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

# pandas dataframe head 
raw_data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
# class column 전체를 의미하는 객체를 정의 한 후, 멤버함수 value_counts()를 호출
raw_data['class'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

In [8]:
print(type(raw_data['class'])) #자료형을 찾아서 검색하기

<class 'pandas.core.series.Series'>

In [10]:
from sklearn import preprocessing

le_class = preprocessing.LabelEncoder()
final_data = raw_data.copy()

# fit_transform 은 fit도 호출 transform도 호출
# labelEncoder의 fit의 역할 : 아래 딕셔너리와 같이 변경
'''
{
    0:'Iris_setosa',
    1:'Iris_virginicolor',
    2:'Iris_setosa'
}
'''
final_data['class'] = le_class.fit_transform(raw_data['class'])
final_data.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [11]:
raw_data['class'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron

features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# 전체 데이터를 학습용과 테스트용으로 나누어 줌
# test_size=0.1 : 10%는 테스트로 사용
train_d, test_d = train_test_split(raw_data, test_size=0.1)

train_y = train_d['class']
train_x = train_d[features]

test_y = test_d['class']
test_x = test_d[features]

model = Perceptron(max_iter=500)
model.fit(train_x, train_y)

model.score(test_x, test_y)

0.8666666666666667